
freebidi-harfbuzz.xcodeproj/xcuserdata/hacker.xcuserdatad/xcschemes/xcschememanagement.plist

freebidi-harfbuzz.xcodeproj/xcuserdata/hacker.xcuserdatad/xcschemes/freebidi-harfbuzz.xcscheme

freebidi-harfbuzz.xcodeproj/xcuserdata/hacker.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

freebidi-harfbuzz.xcodeproj/project.xcworkspace/xcuserdata/hacker.xcuserdatad/UserInterfaceState.xcuserstate
